<main class="container">
  
  <%= link_to sanitize("&larr; Back to quiz"), quiz_path(@quiz) %>  
  <%= turbo_frame_tag @question do %>
    <%= render "form", quiz: @quiz, question: @question %>
  <% end %>

</main>