<div class="mt-4 lg:p-12 p-4 grid grid-cols-1  gap-x-12 gap-y-4 relative z-20">

  <%= link_to sanitize("&larr; Back to quizzes"), quizzes_path %>
      
  <%= turbo_frame_tag @quiz do %>
    <%= render "form", quiz: @quiz %>
  <%end%>

</div>