<div class="max-w-5xl mx-auto mt-4 lg:p-12 p-4 grid grid-cols-1 lg:grid-cols-12 gap-x-12 gap-y-4 relative z-20">
  <div class="lg:col-span-12 text-center">
    <div class="flex justify-center mb-6">
      
    </div>
    <h1 class="mb-4 text-2xl font-semibold text-gray-800 text-center mt-3">Assessment App</h1>
    <p class="leading-snug text-gray-700 text-lg max-w-3xl mx-auto pb-6">Support Teacher manage Students and Tests</p>
  </div>
  
</div>


<div class="w-full lg:absolute bottom-3 lg:right-3 pl-4 pb-3 lg:p-0 flex lg:justify-center justify-start z-50">
  <div class="w-full flex-1 flex lg:justify-center justify-start items-center">    
    <p class="lg:text-black text-gray-600 text-sm">Made by <a href="https://twitter.com/moh_sheikh" target="_blank" class="underline opacity-75 hover:opacity-100">@moh_sheikh</a></p>
  </div>
</div>